@{
    ViewBag.Title = "О сайте";
}
<h2>Задание</h2>

<p>
    Разработать сайт-фотогаларею, который позволяет загружать и просматривать изображения 
    (миниатюры и полноразмерные), а так же можно проматривать информацию об изображениях.
</p>